.gallery-container {
    height: 100vh;
    background-size: cover;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .gallery-images img {
    width: 200px;
    margin: 10px;
    border: 2px solid white;
  }
  